<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>

<% if user_signed_in?%>
  <%= link_to 'Enviar uma receita', new_recipe_path %> <br>
<% end %>

<%= link_to 'Cadastrar tipo de receita', new_recipe_type_path %> <br>
<%= link_to 'Cadastrar tipo de cozinha', new_cuisine_path %> <br>


<% @recipes.last(6).each do |recipe| %>
  <div class="recipe">
    <h1><%= link_to recipe.title, recipe %></h1>
    <ul>
      <li><%= recipe.recipe_type.name %></li>
      <li><%= recipe.cuisine.name %></li>
      <li><%= recipe.difficulty %></li>
      <li><%= recipe.cook_time_min %></li>
    </ul>
  </div>

<% end %>

<% if @recipes.count > 6%>
  <p> <%= link_to 'Ver todas', show_all_recipes_path %> </p>
<% end %>